:root {
  --text: #070721;

  --border: #B4B4BC;

  --NS-yellow: #FFC917;
  --NS-positive: color-mix(in srgb, #009A42 70%, transparent 30%);
  --NS-negative: color-mix(in srgb, #DB0029 80%, transparent 20%);

  --NS-blue: #003082;
  --NS-blue-accent: #0063D3;

  --NS-gray-800: #6A6A7A;
  --NS-gray-600: #9C9CA6;
  --NS-gray-400: #B4B4BC;
  --NS-gray-200: #CDCDD3;
  --NS-gray-150: #d9d9df;
  --NS-gray-100: #E0E0E8;

  scrollbar-color: var(--NS-gray-400) transparent;

}

::selection {
  background: color-mix(in srgb, var(--NS-gray-600) 50%, transparent 50%);
}

html {
  interpolate-size: allow-keywords;
}

body {
  background-color: var(--NS-gray-100);
  font-family: 'gg-mono';
  line-height: 1.4em;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

*:focus-visible {
  outline: 1px dashed var(--NS-blue);
}

hr {
  border: none;
  height: 1px;
  background: var(--border);
}

.disabled {
  pointer-events: none;
  filter: grayscale(1);
}

.disabled:hover {
  cursor: not-allowed;
}

input:hover {
  cursor: pointer;
}